button {
    background-color: blue;
    border: 2px solid #0099CC;
    color: #0099CC;
    text-align: center;    
    font-size: 22px;
}

figure {

}
#test-button {
    padding-top: 25px;
    border-width: 10px;
    border-color: red;
    
}

header {
    background-color: violet;
    text-align: center;
}
header p{
    font-weight: bold;
    font-size: 110%;
}

.byline {

    font-size: 80%;
    font-style: italic;

}
img#list-button-utah {
   width: 100px;
   height: 100px; 
   float: left;
   padding-left: 0px;
}

main{
    background-color: lightgray;
}

footer {
    background-color: lightblue;
    text-align: center;
}
