p.cicd {
    font-size: 22px;
    padding: 15px 15px;
    
}

img.cicdimg {
    width: 30%;
    height: auto;
    
}
main {
    border-radius: 20px;
    color: lightgrey;
    background-color: #606060;
}