h2 {
    text-align: center;
    padding: 15px;
}

p.containers {
     font-size: 22px;
    padding: 15px 15px;
    word-spacing: 5px;
}
figure.right {
        float: right;
}

img {   
    float: left;
    padding-right: 15px;
    width: 100px;
    height: auto;
    transition: transform .5s;
    position: relative;
    
}   

a span {
    position:absolute; 
  display:none; 
 
  left:50%;
 
}

img:hover {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
     z-index:99;
    transform: scale(4.5);
}

main {
    border-radius: 20px;
    color: lightgrey;
    background-color: #606060;
}